<!DOCTYPE html>
<!-- <html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>DS MOVIE RECOMMENDER</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<h1 id="title"> Movies vs COVID-19 </h1>
<br>
<h3>We are gonna recommend you some movies to watch during the lockdown!</h3> -->
{% extends "base.html" %}


{% block content %}
<section class="main-splash">
  <img id="logo_covid" src="/static/img/COVID-2.png" alt="Cartamon Logo">
  <h5 id="title"> Please upload the CT scan
    <p>image that you want to get diagnosed by AI</p></h5>
</div>
</div>
  <form method=post enctype=multipart/form-data>
    <input type=file name=file >






  <div class="button-container">


      <br>
      <div class="button-container">
        <input type=submit value=Upload  class="btn btn-danger btn-lg m-3">
              </div>
            </form>
      <!-- <input type="submit" value="Get Result"> -->
    </form>


  </div>

  <p><i>sponsored by <img id="logo" src="/static/img/movierec3000_logo.png" alt="Cartamon Logo"></i></p>
</section>



</body>

</html>
{% endblock %}
=
