<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<section class="main-splash">

  <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <p class="{{status}}">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} -->

  <br>
  <br>
  <h3 class="merp">Your Diagnosis</h3>
  <img id="CT" src="{{ ct_scan_image }}" class='CT-scan' width="500" height="600">
    <div id="movie-results">
    <h5 class="result">"{{ result_html }}"</h5>
  </div>




  </div>

  <div class="button-container">

    <button onclick="location.href='/'" type="submit" class="btn btn-danger btn-lg m-3">
      Go back
    </button>

  </div>

</section>

{% endblock %}
